body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
  font-size: 16px;
}

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4D5AE5;
  letter-spacing: 0.03em;
}
header .container,
nav, header ul {
  display: flex;
}

header .container {
  border-bottom: 1px;
  border-color: #E7E9FC;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

nav ul {
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 332px;  
}

.contacts .address-list {
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
}

.accent {
  color: #2e2f42;
}

.page-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.page-link:hover,
.page-link:focus,
.address-link .link:hover,
.address-link .link:focus {
  color: #404BBF;
}

.page-link:active {
text-decoration: underline;
}

.section-hero .container {
  display: block;
  width: 1440px;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
}

h1 {
  display: block;
  margin: 0 auto;
  width: 496px;
  margin-bottom: 48px;
}

.container .btn {
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
}

.our-advantages ul {
  display: flex;
  gap: 8px;
}

.our-advantages .container {
  display: flex;
}

.our-advantages ul {
  padding-top: 120px;
  padding-bottom: 120px;
  gap: 24px;
}

.our-advantages h2 {
  display: none;
}

.contacts {
  font-style: normal;
}

.address-list .link {
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.address-list .link:hover,
.address-list .link:focus {
  color: #404BBF;
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
  text-transform: capitalize;
}

.underheader {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-hero {
  background-color: #2E2F42;
}

.section-hero .header {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-hero .btn {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.section-hero .btn:hover,
.section-hero .btn:focus {
  background-color: #404BBF;
}

.our-team {
  background-color: #F4F4FD;
}

.our-team .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.card-container {
  display: flex;
  gap: 24px;
}

.thumb {
width: 264px;
height: 260px;
margin-bottom: 32px;
}

.thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.our-team .section-header {
  margin-bottom: 72px;
}

.card-content {
  padding-bottom: 32px;
 background-color: #FFFFFF;
 text-align: center;
}
  
.our-portfolio {
  display: flex;
  margin-bottom: 100px;
  padding-top: 90px;
}

.first-row-container {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #E7E9FC;
  gap: 20px;
}

.second-row-container {
  display: flex;
  box-sizing: border-box;
  gap: 20px;
}

.page-end {
  background-color: #2E2F42;
}

.page-end .container {
  display: block;
  width: 1440px;
  height: 312px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.page-end .accent {
  font-style: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #F4F4FD;
}

.footer-text {
  color: #F4F4FD;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  height: 32px;
}