body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
  font-size: 16px;
}

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4D5AE5;
  letter-spacing: 0.03em;
}
header .container,
nav, header ul {
  display: flex;
}
header .container {
  border-bottom: 1px;
  border-color: #E7E9FC;
  padding: 24px 0 24px 0;

}
.logo {
  padding-top: 24px;
  padding-left: 70px;
  width: 115px;
  height: 24px;
  margin-right: 120px;
}
nav ul {
  gap: 40px;
  padding-top: 24px;
  width: 261px;
  height: 24px;
  margin-right: 180px;
}

.contacts .address-list {
  padding-top: 24px;
  gap: 40px;
}
.accent {
  color: #2e2f42;
}

.page-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.page-link:hover,
.page-link:focus,
.address-link .link:hover,
.address-link .link:focus {
  color: #404BBF;
}

.page-link:active {
text-decoration: underline;
}
.section-one .container {
  display: block;
  width: 1440px;
  height: 600px;
}
h1 {
  margin: 0 auto;
  width: 496px;
  height: 120px;
  padding-top: 180px;
  margin-bottom: 180px;
}
.section-one .container .btn {
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 56px;
  border-radius: 4px;
}
.our-advantages ul {
  display: flex;
  gap: 8px;
  padding-left: 70px;
}
.our-advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-advantages h2 {
  display: none;
}
.contacts {
  font-style: normal;
}

.address-list .link {
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.address-list .link:hover,
.address-list .link:focus {
  color: #404BBF;
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
  text-transform: capitalize;
}

.underheader {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-one {
  background-color: #2E2F42;
}

.section-one .header {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-one .btn {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.section-one .btn:hover,
.section-one .btn:focus {
  background-color: #404BBF;
}

.our-team {
  background-color: #F4F4FD;
}

.our-team {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-team ul {
  display: flex;
  gap: 32px;
}

.card-content img {
  display: flex;
  margin-bottom: 20px;
}

.our-team .section-header {
  margin: 70px;
}
.card-content {
 background-color: #FFFFFF;
}

.page-end {
  background-color: #2E2F42;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.page-end .accent {
  font-style: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #F4F4FD;
}

.footer-text {
  color: #F4F4FD;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}